@import url('https://fonts.googleapis.com/css?family=Fahkwang&display=swap');
*{
    box-sizing: content-box;
    color: #ffffff;
}
body{
    background-image:url("img/pokBack.jpg");
    background-size:cover;
    background-attachment: fixed;
}

/* .cerrar{
    width: auto;
    height: auto;
    cursor: pointer;
    background-color:rgba(255,0,0,0.5);
    padding: 9px;
    float: right;
    font-weight: bold;
}
.cerrar :hover{
    background-color:rgba(255,0,0,1);
} */
header {
    background:rgba(39, 121, 39, 0.932);
    position: fixed;
    width: 100%;
    height: 9%;
    top: 0;
    z-index: 99;
}
header nav ul{
    height: 5%;
    padding: 0;
    margin: 0;
}
nav{
    width: 90%;
    min-width: 1000px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
li{
    margin: 1%;
    font-family: 'Fahkwang', sans-serif;
    font-size: 20px;
}
#icon{
    display: none;
}
#click{
    color: indigo;
}
main{
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10%;
    bottom: 5%;
    width: 100%;
    z-index: 0;
}
footer{
    position: fixed;
    width: 100%;
    bottom: 0%;
    height: 5%;
    margin: 0;
    background-color: rgba(39, 121, 39, 0.932);
   /*  display: flex;
    justify-content: center; */
}
.active{
    display: block;
}
.inactive{
    display: none;
}
.flex{
    display: flex;
}

.screen{
    /* background-color:red; */
    backdrop-filter: brightness(0.4);
    margin: 0%;
}
#screen1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-top: 4%;
}
#screen1 img:first-child {
    width: 45%;
    height: auto;
    margin-top: 15%;
    /*width: 50%;
    height: auto;
    margin-top: 13%;*/
}
.inputCont{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    border-style: solid;
    border-width: 3px;
    border-color: transparent;
    border-bottom-color: #ffffff;
    width: 30%;
 }
input{
    background-color: transparent;
    font-size: 30%;
    border-color: transparent;
    outline: none;
}
#inputSearch{
    width: 100%;
}
::placeholder {
    color:#ffffff ;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Fahkwang', sans-serif;
}
#searchIcon,.more,#icon,#btn-menu,li{
    cursor: pointer;
 }
#screen2{
    padding-bottom: 3%;
    margin:4% 20%; /* para que aparezca debajo del menu */
    z-index: 2;
}
span{
    text-transform: capitalize;
    /* width: 100%; */
}
p{
    /* font-weight: bold;
    font-family: 'gadugi'; */
    display: flex;
    flex-wrap: wrap;
    /* width: 100%; */
    /* background-color: hotpink; */
}
.namePok {
    margin-bottom: 1%;
    font-weight: bold;
    font-size: 2.3em;
    font-family: Cabin;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}
#firstRow{
    display:flex;
    justify-content: space-around;
    margin: 1% 10%;
    padding: 1%10%;
    align-content:space-around;
}
.imgCont{
    /* background-color:aquamarine; */
    display:flex;
    flex-direction:column;
    align-items:center ;
    justify-content: center;
    padding:2%;
}
.circle{
    color: rgba(255, 250, 250, 0.897);
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(172, 13, 13, 0.99);
    z-index: 2 ;
}
.imgCont img{
    background-color: #ffffff;
    border-style: solid;
    border-color:rgba(172, 13, 13, 0.99);
    border-width: 0.2em;
    border-radius: 5%;
    margin-top: -10%;
    width: 100%;
    padding: 2%;
    z-index: 1 ;
}
.imgCont:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
#s2info{
    padding: 4%;
    padding-top: 6%;
    margin:5% 1%;
    max-height: 2%;
    max-width: 100%;
    font-size: 1em;
}
#s2about{
    justify-content:space-around;
    padding: 0.5% 10%;
    display:flex;
    flex-direction: column;
}
#hW{
    display: flex;
    justify-content: space-around;
    font-size: 1em;
}
#about{
    font-size: 1em;
    margin-top: 3%;
}
.infoCont{
    background-color: rgba(241, 158, 62, 0.932);
    border-radius: 5px;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    width: 55%;
}
#screen3{
    width: 100%;
    margin-top: 5em;
    flex-direction: column;
    z-index: 0;
}
.buttons{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
select{
    background-color: transparent;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #ffffff;
    padding: 1%;
    padding-right: 9%;
    padding-left: 2%;
    scrollbar-width: none;
}
select:focus{ outline: none;}
option{
    background: rgba(10, 10, 10, 0.856);
}
#s3data{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.more{
    background-color:orange;
    border-radius: 8%;
    padding: 1% 4%;
    color: #000000;
}
/* Cuarta PANTALLA */
#screen4{
    margin-top: 5em;
    flex-direction: column;
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
}
.inputContCalc{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    width: 60%;
}
.inputsCalc{
    margin: 4% 3%;
    border-style: solid;
    width: 50%;
    border-width: 3px;
    border-color: transparent;
    border-bottom-color: #ffffff;
    font-size: 100%;
}
.contCalc{
 width: 50%;
 display: flex;
}
.button{
    background-color: rgba(207, 38, 38, 0.767);
    font-size: 95%;
    border-radius: 0.5em;
    border: none;
    width: 60%;
    min-width: 80px;
    margin:auto;
    height: 2.5em;
    outline: none;
}
#btn-calc:hover{
    background-color: rgb(240, 111, 88);
}
/* RESULTADO CALCULAR */
#candyCalc{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}
#contImg{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
}
#s4data{
    display: flex;
    flex-direction: column;
}
#nameEvolution{
    margin-top: 5%;
    text-transform: capitalize;
    font-size: 2em;
    text-align: center;
}
#contCandyCost{
    background-color: rgba(211, 247, 202, 0.904);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 10em;
    height: 5em;
    font-size: 1.5em;
    align-items: center;
    margin-left: -13%;
    margin-top: 3%;
    z-index: 2;

}
.contW{
    color: rgb(37, 35, 35);
    display: flex;
    flex-direction: column;
}
#candyCost{
    text-align: center;
    color: rgb(37, 35, 35);
}
#resultCandyCost{
    display: flex;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 500px){
body{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
header{
    background-color: transparent;
    width: 5%;
    margin-top: 5%;
    margin-left: 1.8%;
}
#icon{
    display: block;
    font-size: 28px;
    margin-top: 6%;
}
.menu {
    position: relative;
    top: 10%;
    left:0;
    transition: all 1s;
    transform: translateX(-100%);
}
.menu ul {
    display: block;
    list-style: none;
    background: rgba(10, 10, 10, 0.856);
    width: 96vw;
    height: 100vh;
    padding-top: 2%;
}
.menu ul li{
    margin-left: 4%;
    margin: 5%;
    padding: 1%;
}
.menu ul li:hover{
    background: rgba(209, 154, 130, 0.418);
}
#btn-menu:checked ~ .menu {
    transform: translateX(0%);
}
#screen1{
    margin-top: 50%;
    padding: 2%;
}
#screen1 img:first-child {
    width: 100%;
    height: auto;
    margin-top: 25%;
}
::placeholder {
    font-size: 1em;
}
.inputCont{
    width: 70%;
}
#screen2{
    margin: 9%;
}
.inputContCalc{
    display: flex;
    flex-direction: column;
}
.inputsCalc{
    width: 100%;
    margin-bottom: 1em;
    margin-top: 10%;
    font-size: 1em;
}
#s5CandyCalc{
    margin-top: -10%;
}
#firstRow{
    display:flex;
    flex-direction: column;
    /* background-color: black; */
    margin: 0;
    padding: 0;
    align-content:space-around;
}
#firstRow img{
    width: 50%;
}
#s2info{
    padding: 1%;
}
.infoCont{
    width: 100%;
}
#hW{
    flex-direction: column;
}
#about{
    display: none;
}